* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  background-color: #eff2ff;
}

.main-wrapper {
  width: 1200px;
  max-width: calc(100% - 30px);
  margin: 15px auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 9%) 0px 3px 12px;
  word-break: break-word;
  white-space: normal;
}

header {
  padding: 5px 15px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #505050;
  margin: 15px auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.site-nav a {
  color: #5c7aea;
  display: inline-block;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.15s ease-in;
}

.site-nav a:hover {
  color: #3d56b2;
  background-color: #dbe6fd;
}

.header-search {
  appearance: none;
  background-color: #eff2ff;
  border-radius: 5px;
  border: 1px solid rgba(9, 30, 66, 0.2);
  color: #14279e;
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  width: 175px;
}

.header-search:focus {
  outline: none;
  border-color: #3d56b2;
}

.content {
  padding: 0 15px 30px;
  margin: 0 auto;
}

.btn-wrap {
  text-align: right;
  margin-bottom: 15px;
}

.btn {
  appearance: none;
  border: none;
  border-radius: 5px;
  background-color: #5c7aea;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1;
  padding: 12px 17px;
  text-align: center;
  transition: background-color 0.15s ease-in;
}

.btn:hover {
  background-color: #3d56b2;
}

.comic-title {
  font-size: 26px;
  line-height: 1.3;
  font-weight: 700;
  color: #14279b;
  text-align: center;
  margin: 0 0 15px;
  padding: 0 15px;
  order: 1;
}

.comic-wrap {
  width: 880px;
  max-width: 100%;
  margin: 0 auto;
}

.comic-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.comic-img {
  order: 2;
  width: 100%;
}

.comic-img img {
  border-radius: 5px;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.comic-nav {
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background-color: #5c7aea;
  color: #ffffff;
  margin: 15px;
  cursor: pointer;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transition: background-color 0.15s ease-in;
}

.comic-nav:hover {
  background-color: #3d56b2;
}

.comic-nav.prev {
  order: 3;
}

.comic-nav.next {
  order: 4;
}

.comic-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px auto 0;
  width: 640px;
  max-width: 100%;
  text-align: center;
}
.comic-details > div {
  background-color: #eff2ff;
  border-radius: 5px;
  width: 255px;
  max-width: 100%;
  padding: 25px 10px;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.comic-details > div:last-child {
  margin-bottom: 0;
}

.comic-details > div:nth-child(2) {
  border-width: 0;
  border-style: dotted;
  border-color: #3d56b2;
}

.comic-details h3 {
  color: #14279b;
  margin: 0 0 5px;
  font-weight: 700;
  line-height: 1;
}

.comic-details p {
  color: #5c7aea;
  margin: 0;
  line-height: normal;
  font-weight: 700;
}

@media screen and (min-width: 576px) {
  .comic-details {
    flex-direction: row;
  }

  .comic-details > div {
    width: 33.33%;
    background-color: transparent;
    margin: 0;
    border-radius: 0;
  }

  .comic-details > div:nth-child(2) {
    border-width: 0 1px 0 1px;
  }

  .header-search {
    width: 200px;
    font-size: inherit;
    padding: 10px 15px;
  }
}

@media screen and (min-width: 768px) {
  .comic-title {
    width: 520px;
    max-width: calc(100% - 80px);
    order: 2;
  }
  .comic-img {
    width: 600px;
    max-width: 100%;
    order: 4;
  }

  .comic-nav.prev {
    order: 1;
  }

  .comic-nav.next {
    order: 3;
  }

  .comic-nav {
    margin: 0 0 10px;
  }
}
